.row
  .col-sm-12#display-list
    %table.table.table-striped
      %tbody
        - @category.movies.each do |movie|          
          %tr
            %td.title
              = movie.title
            %td.genre
              - movie.categories.each do |genre|
                = link_to genre_status(genre.name), '#'
            %td.pull-right.link
              = link_to "View Details and Download", display_visitors_path(movie), class: 'btn btn-primary btn-sm'

    = paginate @movies
              
            
