.container
  .content
    #display-list
      -if params[:q] && params[:q].values.reject(&:blank?).any?      
        %h2
          Search
          = pluralize(@count, 'Result') 
      = render 'movies'  
