body
  background-color: #eee
  .entry
    margin-top: 20px

    .movie_image
      margin-bottom: 10px

      img
        border: 1px solid #e5e5e5
        padding: 2px
    
    .content
      background-color: #fff
      padding-top: 15px
      padding-bottom: 15px
      border: 2px solid
      border-color: #e5e6e9 #dfe0e4 #d0d1d5
      border-radius: 5px

      .title_header   
        margin-bottom: 10px
        h2 
          text-align: center
          font-family: 'Open Sans Regular', Arial, sans-serif
          color: #333
          margin-top: 5px
            
        .button_torrent
          color: #fff
          font-weight: bold             

          a
            transition: all .2s ease-in-out
            width: 100%
            
            &:first-child
              margin-bottom: 5px

      .description
        color: #666

        p
          margin-bottom: 15px

        ul
          list-style-type: none
          padding: 0

          li
            margin-bottom: 2px

      iframe
        // width: 800px
        // height: 330px

#display-list
  padding: 50px
  table
    tr
      border: 1px solid #ddd

      td
        border: 0
      .title
        vertical-align: middle
        font-size: 16px
        padding-left: 10px








