/ <%# add navigation links to this file %>

%li
  = search_form_for @search, url: "/visitors", method: :get, class: 'form-inline' do |f|
    = f.search_field :title_cont, class: 'form-control input-lg', placeholder: "Search Movie"